<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{$basePath}/images/md_2015.png" />
    <link rel="shortcut icon" href="{$basePath}/images/md_2015.ico" />
    <link href="{$basePath}/css/md15.css" rel="stylesheet" />
    <!-- asynchronní načítání fontů -->
    <script>
        function nacistCSS(url) {
            var styl = document.createElement("link");
            var skript = document.getElementsByTagName("script")[0];
            styl.rel = "stylesheet";
            styl.href = url;
            setTimeout(function () {
                skript.parentNode.insertBefore(styl, skript);
            });
        }
    </script>
    <noscript>
        <link rel="stylesheet" href="{$basePath}/css/font_rules.css">
    </noscript>
    <!-- konec asynchronního načítání fontů -->
    <title>{ifset title}{include title|striptags} | {/ifset}MayDej {date('Y')}</title>
</head>
<body>
    <a name="top"></a>
    <div id="logo">
        <img src="{$basePath}/images/maydej_2015.png" />
    </div>
    {block subMenu}{/block}
    {control mainMenu}
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{_$flash->message}</div>
    {include content}
    <div>
        <h2 id="partneri">Partneři</h2>
    </div>
    <div id="partner">
<!--        <a href="http://stoh.su.cvut.cz/phprs/" target="_blank"><img src="{$basePath}/images/stoh.png" /></a>
        <a href="https://www.facebook.com/efdrive" target="_blank"><img src="{$basePath}/images/efdrive.png" /></a>
        <a href="http://www.bestprague.cz/" target="_blank"><img src="{$basePath}/images/best.png" /></a>
        <a href="https://www.isc.cvut.cz/" target="_blank"><img src="{$basePath}/images/isc.png"></a>
        <a href="http://www.bowlingdejvice.cz/" target="_blank"><img src="{$basePath}/images/bowling.png" /></a>
        <a href="http://raceground.cz/" target="_blank"><img src="{$basePath}/images/raceground.png"></a>-->
        <a href="http://intranet.cvut.cz/informace-pro-studenty/granty/fsp" target="_blank"><img src="{$basePath}/images/logo-fsp.png"></a>
        <a href="http://www.cvut.cz/" target="_blank"><img src="{$basePath}/images/CVUT.jpg"></a>
        <a href="http://www.famfrpal.cz" target="_blank"><img src="{$basePath}/images/Prague-PEGASUS.jpg"></a>
<!--        <a href="http://www.pivovary-lobkowicz.cz/" target="_blank"><img src="{$basePath}/images/pivovary-lobkowicz.jpg"></a>
        <a href="http://www.puzzleroom.cz/" target="_blank"><img src="{$basePath}/images/logo-pr.png"></a>
        <a href="http://www.sutka.eu/" target="_blank"><img src="{$basePath}/images/Logo_Sutka.png"></a>
        <a href="http://www.clubmate.cz/" target="_blank"><img src="{$basePath}/images/Logo-plnobarevne.png"></a>-->
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>
    <div>
        <h2 id="kontakt">Kontakt</h2>
        <p>maydej&#64;buk.cvut.cz</p>
        <p><a href="https://www.facebook.com/maydej" target="_blank">facebook</a></p>
    </div>
    <div id="kluby">
        <a href="http://su.cvut.cz/" target="_blank"><img src="{$basePath}/images/su.png" align="left" /></a>
        <a href="http://buk.cvut.cz/" target="_blank"><img src="{$basePath}/images/buben.png" /></a>
        <a href="http://masarka.cz/" target="_blank"><img src="{$basePath}/images/masarka.jpg" /></a>
        <a href="https://www.sin.cvut.cz/" target="_blank"><img src="{$basePath}/images/sincoolka.png" align="right" /></a>
    </div>
    <div id="paticka">
        <p>&copy;2017 Studentská unie ČVUT</p>
    </div>
    <!-- asynchronní načítání fontů -->
    <script>nacistCSS({$basePath} + "/css/font_rules.css");</script>
    <!-- konec asynchronního načítání fontů -->
<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
    //<![CDATA[
		var sc_project=10362544;
		var sc_invisible=1;
		var sc_security="c36b2719";
		var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+"statcounter.com/counter/counter_xhtml.js'></"+"script>");
    //]]>
    </script>
    <noscript>
	<div class="statcounter">
		<a title="shopify analytics" href="http://statcounter.com/shopify/" class="statcounter"><img class="statcounter" src="http://c.statcounter.com/10362544/0/c36b2719/1/" alt="shopify analytics" /></a>
	</div>
    </noscript>
<!-- End of StatCounter Code for Default Guide -->
</body>
</html>
