{form form}
    <table>
        <tr class="errors" n:if="$form->hasErrors()" n:foreach="$form->errors as $error">
            <td><strong>{_$error}</strong></td>
        </tr>
        <tr>
            <td>{label email /}</td>
            <td>{input email}</td>
        </tr>
        <tr>
            <td>{label password /}</td>
            <td>{input password}</td>
        </tr>
        <tr>
            <td align="center" colspan="2">{input submit}</td>
        </tr>
    </table>
{/form}
