{block subMenu}
    <div id="localmenu">
        <ul>
            <li><a href="#oakci" title="O akci">O&nbsp;akci</a></li>
            <li><a href="#informace" title="Informace">Informace</a></li>
            <li><a href="#sporty" title="Sporty">Sporty</a></li>
            <li><a href="#program" title="Doprovodný program">Program</a></li>
            <li><a href="#partneri" title="Partneři">Partneři</a></li>
            <li><a href="#kontakt" title="Kontakt">Kontakt</a></li>
        </ul>
    </div>
{/block}
{block content}
    <div>
        <h2 id="oakci">O&nbsp;akci</h2>
        <p>Již 14.&nbsp;ročník sportovně-společenské akce pro Vás pořádá Studentská unie ČVUT.</p>
        <p>Přijďte s námi oslavit sportem a&nbsp;zábavou konec semestru a&nbsp;odpočinout si před obdobím plným stresu a&nbsp;zkoušek.</p>
        <p>Jako každý rok, i&nbsp;letos se můžete těšit na bezedné zásoby piva, limonády a&nbsp;samozřejmě spoustu masa na grilu.</p>
        <p>Připravujeme pro Vás také velkolepý odpolední program plný soutěží, zábavy a&nbsp;hudby.</p>
        <p>Takže <strong>neváhejte a&nbsp;přijďte!</strong></p>
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>
    <div>
        <h2 id="informace">Informace</h2>
        <p>Kde:&nbsp;&nbsp;<strong>Sportovní areál ČVUT Kotlářka</strong></p>
        <p>Kdy:&nbsp;&nbsp;<strong>20.5.2017</strong></p>
        <p class="odsazeno26">&nbsp;8:00&nbsp;&nbsp;Prezentace sportovních týmů</p>
        <p class="odsazeno26">&nbsp;9:00&nbsp;&nbsp;Začátek sportovního zápolení</p>
        <p class="odsazeno29">14:00&nbsp;&nbsp;Odpolední program</p>
        <p>Startovné pro sportovce:	50,- Kč za osobu.</p>
        <p>Jak se k nám dostanete:</p>
        <p class="nastred"><a href="http://mapy.cz/s/gFgo" target="_blank"><img src="{$basePath}/images/mapa.jpg" class="mapa" alt="Mapa Dejvice" title="Mapa Dejvice" /></a></p>
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>
	<div>
	 <h2 id="sporty">Sporty</h2>
        <p>MayDej 2017 přináší zápolení v&nbsp;těchto sportech:</p>
        <p><span class="upper">Volejbal</span> &ndash; smíšená šestičlenná družstva, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <p><span class="upper">Nohejbal</span> &ndash; dvoučlenné týmy, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <p><span class="upper">Famfrpál</span> &ndash; 3 střelci, 2 odrážeči, 1 brankář, 1 chytač, pravidla <a href="{$basePath}/files/pravidla_famfrpal.pdf" target="_blank">zde</a>.</p>
        <p><span class="upper">Frisbee</span> &ndash; šestičlenná družstva, pravidla <a href="{$basePath}/files/pravidla_frisbee.pdf" target="_blank">zde</a>.</p>
        <br/>
        <p>Přihlašování do 18.5.2017.</p>
        <br/>
        <p>Neváhejte a&nbsp;<a href="{link :Sign:up}" title="Registrace týmů">zaregistrujte</a> svůj tým už teď!</p>
        <p class="nastred"><a href="{link :Homepage:teams}"> &raquo; seznam týmů &laquo;</a></p>
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>
    <div>
        <h2 id="program">Doprovodný program</h2>
        <p>14:00 Beerpong</p>
<p>15:00 Goalball</p>
<p>16:00 Takeshiho hrad</p>
<p>16:15 Hokej</p>
<p>17:00 Opičí dráha</p>
<p>19:00 Šmitcový kvartet</p>
<p>20:15 Hokej</p>
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>