﻿@charset "utf-8";
@import url("../wfonts/ubuntu.css");

p, li {
	font-family: "UbuntuLight", sans-serif;
}
p b, p strong, li b, li strong {
	font-family: "UbuntuMedium", sans-serif;
}
p i, p em, li i, li em {
	font-family: "UbuntuLightItalic", sans-serif;
}
p b i, p i b, p strong em, p em strong, li b i, li i b, li strong em, li em strong {
	font-family: "UbuntuMediumItalic", sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: "UbuntuMedium", sans-serif;
}
table, form, input, select, label {
	font-family: "UbuntuLight", sans-serif;
}
